input {
    keyboard {
        xkb {
            layout "br" /* Add "ru" later */
            options "lv3:caps_switch_capslock_with_ctrl,ctrl:nocaps"
        }
    }

    touchpad {
        tap
        natural-scroll
        scroll-method "two-finger"
    }
    
    warp-mouse-to-focus
    focus-follows-mouse
}

output "eDP-1" {
    mode "1366x768@60.00"
    scale 1
    transform "normal"
    position x=0 y=0
}

output "VGA-1" {
    mode "1366x768@60.00"
    scale 1
    transform "normal"
    position x=-1366 y=0
}

layout {
    background-color "transparent"

    gaps 30
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    default-column-width {}

    border {
        width 3

        active-color "@|return theme.hex7|@66"
        inactive-color "@|return theme.hex3|@33"
    }

    focus-ring { off; }

    /-struts {
        left 30
        right 30
        top 30
        bottom 30
    }
}

// Add a few startup programs later...
// spawn-at-startup "alacritty" "-e" "fish"

spawn-at-startup "xwayland-satellite"
spawn-at-startup "swww-daemon"

prefer-no-csd // Remove decorations.

screenshot-path "~/files/pictures/screenshots/screenshot-%d.%m.%Y %H:%M:%S.png"

animations {
    slowdown 0.8

    window-open {
        duration-ms 250
        curve "linear"

        custom-shader r"@|return io.open("niri/window_open.glsl"):read("*all")|@"
    }

    window-close {
        duration-ms 250
        curve "linear"

        custom-shader r"@|return io.open("niri/window_close.glsl"):read("*all")|@"
    }
}

// Add dropdowns.
window-rule {
    match app-id="^dropdown$"

    open-floating true
    default-floating-position x=20 y=20 relative-to="top-right"
    default-window-height { proportion 0.2; }
    //default-column-width { proportion 0.3; }
} 

// Change Ghostty's initial size
window-rule {
    match app-id=r#"^com\.mitchellh\.ghostty$"#
    default-column-width { proportion 0.5; }
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    match title="^Picture-in-Picture$"
    open-floating true
}

// Make Pure Data menus floating by default.
window-rule {
    match app-id="^Menu$"
    open-floating true
}

// All of them.
window-rule {
    geometry-corner-radius 3 // Border Size
    clip-to-geometry true

    opacity 0.95
    draw-border-with-background false
}

// Make the background keep its place while in the overview
layer-rule {
    match namespace="^swww-daemon$"
    place-within-backdrop true
}

overview {
    backdrop-color "@|return theme.hex1|@"

    workspace-shadow { off; }
}

environment {
    DISPLAY ":1"
}

binds {
    // As a rule of thumb, Mod5 is for moving things around
    // or for special binds, and Mod is for everything else.
    Mod+Q { spawn "ghostty"; }
    Mod+R { spawn "fuzzel"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    Mod+C { close-window; }
    
    Mod5+E { toggle-overview; }

    Mod+A           { focus-column-left; }
    Mod+S           { focus-window-or-workspace-down; }
    Mod+W           { focus-window-or-workspace-up; }
    Mod+D           { focus-column-right; }

    Mod5+A          { move-column-left; }
    Mod5+S          { move-window-down-or-to-workspace-down; }
    Mod5+W          { move-window-up-or-to-workspace-up; }
    Mod5+D          { move-column-right; }

    Mod+Home        { focus-column-first; }
    Mod+End         { focus-column-last; }
    Mod5+Home       { move-column-to-first; }
    Mod5+End        { move-column-to-last; }

    Mod+Shift+A     { focus-monitor-left; }
    Mod+Shift+S     { focus-monitor-down; }
    Mod+Shift+W     { focus-monitor-up; }
    Mod+Shift+D     { focus-monitor-right; }

    Mod5+Shift+A    { move-column-to-monitor-left; }
    Mod5+Shift+S    { move-column-to-monitor-down; }
    Mod5+Shift+W    { move-column-to-monitor-up; }
    Mod5+Shift+D    { move-column-to-monitor-right; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod5+Page_Down     { move-column-to-workspace-down; }
    Mod5+Page_Up       { move-column-to-workspace-up; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod5+WheelScrollDown     cooldown-ms=150 { move-column-to-workspace-down; }
    Mod5+WheelScrollUp       cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod5+Shift+WheelScrollDown     { move-column-right; }
    Mod5+Shift+WheelScrollUp       { move-column-left; }

    Mod+1  { focus-workspace 1; }
    Mod+2  { focus-workspace 2; }
    Mod+3  { focus-workspace 3; }
    Mod+4  { focus-workspace 4; }
    Mod+5  { focus-workspace 5; }
    Mod+6  { focus-workspace 6; }
    Mod+7  { focus-workspace 7; }
    Mod+8  { focus-workspace 8; }
    Mod+9  { focus-workspace 9; }
    Mod5+1 { move-column-to-workspace 1; }
    Mod5+2 { move-column-to-workspace 2; }
    Mod5+3 { move-column-to-workspace 3; }
    Mod5+4 { move-column-to-workspace 4; }
    Mod5+5 { move-column-to-workspace 5; }
    Mod5+6 { move-column-to-workspace 6; }
    Mod5+7 { move-column-to-workspace 7; }
    Mod5+8 { move-column-to-workspace 8; }
    Mod5+9 { move-column-to-workspace 9; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod5+R { switch-preset-column-width; }
    Mod5+Shift+R { switch-preset-window-height; }
    Mod5+Ctrl+R { reset-window-height; }
    Mod5+F { maximize-column; }
    Mod5+Shift+F { fullscreen-window; }
    Mod5+Ctrl+F { expand-column-to-available-width; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Mod+T { toggle-column-tabbed-display; }

    Print      { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print  { screenshot-window; }

    // Disable most keybinds, useful for games and embedding compsitors...
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }

    Mod+Shift+P { power-off-monitors; }
}
