* {
    all: unset;
    font-family: monospace;
}

.panel {
    padding: 20px;
    margin: 10px;
    background: #<< scheme.hex1 >>;
    color: #<< scheme.hex6 >>;
    border-radius: 5px;
    border: 3px solid #<< scheme.hex7 >>66;
}

.cover-art {
    min-width: 120px;
    min-height: 120px;

    margin: 10px;

    background-size: contain;
    background-position: center;
    background-color: #ffffff05;

    border-radius: 10px;
}

.size-4 { font-size: 34pt; font-weight: 800; }
.bold { font-weight: 800; }
