* {
    all: unset;
    font-family: ::font.sans_serif::, Symbols Nerd Font;
    font-size: 10pt;
    color: ::scheme.hex5::;
}

button:hover {
    color: ::scheme.hexA::;
}

/* TOPBAR */

.topbar {
    background: ::scheme.hex0::;
    padding: 1px 10px;
}

.topbar .popup menu {
    padding: 15px;
    background: ::scheme.hex0::;
}

.topbar .popup separator {
    border: 0.5px solid ::scheme.hex5::;
    margin: 5px;
}

/* STATUS */

.status,
.status-popup {
    text-shadow: 1px 1px 2px ::scheme.hex1::;
}
